*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}

body{
    width:100%;
    height:100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color:rgb(92, 92, 255);
    background-image: linear-gradient(315deg,aqua 0%,rgb(92, 92, 255) 84%);
}
.container{
    max-width: 500px;
    margin-top: 50px;
}
.container h1{
    position: absolute;
    left:50%;
    top:10%;
    transform: translate(-50%);
    color:#000;
}
.container .inputGroup{
    position: absolute;
    left:50%;
    top:20%;
    transform: translate(-50%);
   
}
.container .inputGroup input{
    padding:10px;
    width:250px;
    border:none;
    outline: none;
    transition: 0.3s;
}
.container .inputGroup button{
    cursor: pointer;
    padding: 10px;
    width: 100px;
    border:none;
    outline: none;
    transition: 0.3s;
    background-color: #000;
    color: #ffff;
}
.container .inputGroup button:hover{
    background-color: rgba(0,0,0,0.8);
}
.container ul{
    position: absolute;
    top:30%;
    transform: translate(-50%);
   text-align: left;
   list-style: none;
   perspective: 1000px;
}
.kitchenItems li{
    background-color: blueviolet;
    background-image: linear-gradient(315deg,blueviolet 10%,rgb(253, 55, 88) 74%);
    padding: 10px 15px;
    margin:5px 0;
    font-size: 18px;
    font-weight: 700;
    animation: 0.3s ease-in-out;
    border: .5px solid transparent;
    border-radius: 15px;
    width:250px;
    color:white
}

@keyframes slideIn{
    from{
        opacity: 0;
        transform: rotateX(60deg) translateY(-10px);
    }
    to{
        opacity: 1;
        transform:rotateX(0deg) translateY(0px);
    }
}